.show__container {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  margin: 12px 0;
}

@media screen and (max-width: 770px) {
  .show__container {
    align-items: center;
    width: 90%;
    text-align: center;
    margin: 12px auto 30px;
    flex-direction: column;
  }
}
