.elements__button {
  text-indent: -9999px;
  border: 1px solid white;
  width: 25px;
  height: 25px;
  border-radius: 99%;
  color: black;
  text-align: center;
}

.elements__button-pressed {
  background-color: white;
}

.elements__button:hover {
  cursor: pointer;
}

nav ul {
  list-style-type: none;
}

.elements__buttons {
  display: flex;
  margin: 0 auto;
  width: 8%;
  justify-content: space-around;
  padding: 50px 0 100px 0;
}

@media screen and (max-width: 740px) {
  .elements__buttons {
    width: 20%;
  }
}
